<h1>Mastermind</h1>
<div *ngIf="!start">
    <form [formGroup]="config" (ngSubmit)="onSubmit()">
    <label for="nbTentative">Nombre de tentatives :</label>
        <input type="number" id="nbTentative" formControlName="nbTentative">
        <button type="submit">Commencer la partie</button>
    </form>
</div>

<div *ngIf="start">
   
<app-reponse [listOfcolor] ="listOfColor" [win]="win" [life]="life"  (reponse)=" reponse = $event"  ></app-reponse>

<div *ngIf="life">
    <app-grid-color [listOfcolor] ="listOfColor" (color-tentative)="verification($event)"></app-grid-color>
</div>
<h4>Tentatives</h4>
<app-grid [listTentative] ="listTentative"></app-grid>
<p>{{reponse}}</p>


<p *ngIf="!life">Vous avez PERDU</p>
<p *ngIf="win">Félicitations ! Vous avez gagné</p>
</div>