<h3>Palette de couleurs</h3>



<div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" >
        
    <ng-container *ngFor="let colorChoice of listOfColorChoice; let index = index" >
        <div class="squareInput">
            
        <input disabled type="button" class="dot" [ngStyle]="{'background-color':colorChoice}"  >
        <input type="hidden" [value]="colorChoice" [formControlName]="'color'+(index+1)" >
    </div>
    </ng-container> 

    <p></p>
    <ng-container *ngFor="let color of listOfColor; let index = index" >
        <button type="button" class="square"><span class="dot" [ngStyle]="{'background-color':color}" (click)="colorAdd(color)" ></span></button>
        <br *ngIf=" index ==2 ">    
    
    </ng-container>
    <br>

 
    
     <button type="submit">envoyer</button>
     <button type="button" (click)="colorReset()">reset</button>

    </form>
    
</div>

