/* You can add global styles to this file, and also import other style files */
body{
    background: linear-gradient(90deg, lightgreen, pink);
}
.dot {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 70%;
    display: block;
    float: left;
    margin-left: -2px;

    
  }

  .square {
    height: 50px;
    width: 50px;
    background-color: white;
    border: solid 1px black

  }
  .squareInput {
    height: 50px;
    width: 50px;
    background-color: white;
    border: solid 1px black;
    display: inline-block;

  }

  .squareInput > .dot{
    margin-left: 5px;
    margin-top: 5px;
  }